@page "/NavMenu"
@rendermode InteractiveWebAssembly
@inject NavigationManager Navigation

<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container-fluid">

        <img src="/resources/Logo.png" alt="Logo" width="60" height="60" class="rounded-pill mx-auto d-block">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <!-- Byggematerialer kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Byggematerialer
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in byggematerialerItems)
                        {
                            <li>
                                <a class="dropdown-item" href="#" @onclick="() => NavigateToCategory(item)">
                                    @item.CategoryName
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <!-- Haven kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Haven
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in havenItems)
                        {
                            <li>
                                <a class="dropdown-item" href="#" @onclick="() => NavigateToCategory(item)">
                                    @item.CategoryName
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <!-- Huset kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Huset
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in husetItems)
                        {
                            <li>
                                <a class="dropdown-item" href="#" @onclick="() => NavigateToCategory(item)">
                                    @item.CategoryName
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <!-- VVS kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        VVS
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in vvsItems)
                        {
                            <li>
                                <a class="dropdown-item" href="#" @onclick="() => NavigateToCategory(item)">
                                    @item.CategoryName
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <!-- EL & belysning kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        EL & belysning
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in elBelysningItems)
                        {
                            <li>
                                <a class="dropdown-item" href="#" @onclick="() => NavigateToCategory(item)">
                                    @item.CategoryName
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <!-- Maling & kemi kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Maling & kemi
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in malingKemiItems)
                        {
                            <li>
                                <a class="dropdown-item" href="#" @onclick="() => NavigateToCategory(item)">
                                    @item.CategoryName
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <!-- Værktøj kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Værktøj
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in værktøjItems)
                        {
                            <li>
                                <a class="dropdown-item" href="#" @onclick="() => NavigateToCategory(item)">
                                    @item.CategoryName
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <!-- Bil & fritid kategori -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bil & fritid
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in bilFritidItems)
                        {
                            <li>
                                <a class="dropdown-item" href="#" @onclick="() => NavigateToCategory(item)">
                                    @item.CategoryName
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    public class CategoryItem
    {
        public int CategoryId { get; set; }
        public string CategoryName { get; set; }
    }

    private void NavigateToCategory(CategoryItem item)
    {
        Navigation.NavigateTo($"/?category={item.CategoryId}&name={Uri.EscapeDataString(item.CategoryName)}");
    }

    private List<CategoryItem> bilFritidItems = new()
    {
        new() { CategoryId = 5, CategoryName = "Autoudstyr" },
        new() { CategoryId = 5, CategoryName = "Cykeludstyr" },
        new() { CategoryId = 5, CategoryName = "Camping" },
        new() { CategoryId = 5, CategoryName = "Dyreartikler" },
        new() { CategoryId = 5, CategoryName = "Elektronik" },
        new() { CategoryId = 5, CategoryName = "Leg & underholdning" },
        new() { CategoryId = 5, CategoryName = "Sport & fritid" },
        new() { CategoryId = 5, CategoryName = "Tøj & sko" }
    };
    private List<CategoryItem> værktøjItems = new()
    {
        new() { CategoryId = 62, CategoryName = "Elværktøj" },
        new() { CategoryId = 63, CategoryName = "Håndværktøj" },
        new() { CategoryId = 5, CategoryName = "Opbevaring af værktøj" },
        new() { CategoryId = 65, CategoryName = "Øvrige maskiner" },
        new() { CategoryId = 5, CategoryName = "Skovredskaber" },
        new() { CategoryId = 5, CategoryName = "Baljer & Spande" }
    };
    private List<CategoryItem> malingKemiItems = new()
    {
        new() { CategoryId = 5, CategoryName = "Udendørsmaling" },
        new() { CategoryId = 5, CategoryName = "Indendørsmaling" },
        new() { CategoryId = 5, CategoryName = "Malerudstyr" },
        new() { CategoryId = 5, CategoryName = "Rengøring & kemikalier" },
        new() { CategoryId = 5, CategoryName = "Spartel- & fugemasse" },
        new() { CategoryId = 5, CategoryName = "Lim" },
        new() { CategoryId = 5, CategoryName = "Vægbeklædning" }
    };
    private List<CategoryItem> elBelysningItems = new()
    {
        new() { CategoryId = 5, CategoryName = "Indendørsbelysning" },
        new() { CategoryId = 5, CategoryName = "Udendørsbelysning" },
        new() { CategoryId = 5, CategoryName = "Lyskilder" },
        new() { CategoryId = 5, CategoryName = "Smart home" },
        new() { CategoryId = 5, CategoryName = "Dørklokker" },
        new() { CategoryId = 5, CategoryName = "Arbejdsbelysning" },
        new() { CategoryId = 5, CategoryName = "Antenne, Data & TV" },
        new() { CategoryId = 5, CategoryName = "Batterier" }
    };
    private List<CategoryItem> vvsItems = new()
    {
        new() { CategoryId = 5, CategoryName = "Toilet" },
        new() { CategoryId = 5, CategoryName = "Vandhaner & armatur" },
        new() { CategoryId = 5, CategoryName = "Vaske" },
        new() { CategoryId = 5, CategoryName = "Varme & ventilation" },
        new() { CategoryId = 5, CategoryName = "Varme & ventilation" },
        new() { CategoryId = 5, CategoryName = "Afløb & kloak" },
        new() { CategoryId = 5, CategoryName = "Rør & fittings" },
        new() { CategoryId = 5, CategoryName = "Vandbehandling" }
    };
    private List<CategoryItem> husetItems = new()
    {
        new() { CategoryId = 5, CategoryName = "Husholdning" },
        new() { CategoryId = 5, CategoryName = "Indretning" },
        new() { CategoryId = 5, CategoryName = "Hylder & ophæng" },
        new() { CategoryId = 5, CategoryName = "Flytning & opbevaring" },
        new() { CategoryId = 5, CategoryName = "Alarmer & sikkerhed" },
        new() { CategoryId = 5, CategoryName = "Borde" },
        new() { CategoryId = 5, CategoryName = "Postkasser & standere" },
        new() { CategoryId = 5, CategoryName = "Mosteri & syltning" }
    };
    private List<CategoryItem> havenItems = new()
    {
        new() { CategoryId = 5, CategoryName = "Hegn" },
        new() { CategoryId = 5, CategoryName = "Havemøbler" },
        new() { CategoryId = 5, CategoryName = "Haveredskaber" },
        new() { CategoryId = 5, CategoryName = "Havemaskiner" },
        new() { CategoryId = 5, CategoryName = "Havebygninger" },
        new() { CategoryId = 5, CategoryName = "Haveindretning" },
        new() { CategoryId = 5, CategoryName = "Grill" },
        new() { CategoryId = 5, CategoryName = "Vanding" },
         new() { CategoryId = 5, CategoryName = "Beplantning" },
        new() { CategoryId = 5, CategoryName = "Skadedyr & ukrudt" }
    };
    private List<CategoryItem> byggematerialerItems = new()
    {
        new() { CategoryId = 5, CategoryName = "Befæstelse" },
        new() { CategoryId = 5, CategoryName = "Gulv, loft & vægge" },
        new() { CategoryId = 5, CategoryName = "Døre & vinduer" },
        new() { CategoryId = 5, CategoryName = "Byggeplader" },
        new() { CategoryId = 5, CategoryName = "Træ & brædder" },
        new() { CategoryId = 5, CategoryName = "Konstruktion" },
        new() { CategoryId = 5, CategoryName = "Tag" },
        new() { CategoryId = 5, CategoryName = "Stiger & stilladser" }
    };
}
